apiVersion: batch/v1
kind: CronJob
metadata:
  name: "{{ label_back_app_id }}-job-{{ job.name }}"
  namespace: "{{ label_kube_namespace }}"
spec:
  schedule: "{{ schedule }}"
  suspend: {{ suspend }}
  successfulJobsHistoryLimit: {{ successful_jobs_history_limit }}
  failedJobsHistoryLimit: {{ failed_jobs_history_limit }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: {{ backoff_limit }}
      parallelism: {{ parallelism }}
      template:
        spec:
          activeDeadlineSeconds: {{ active_deadline_seconds }}
          containers:
            - name: "label-backend-{{ name }}"
              image: "{{ app_image }}"
              command:
                - /bin/sh
              args:
                - -c
                - node {{ command }}
              envFrom:
                - configMapRef:
                    name: "{{ label_back_app_id }}-config"
                - secretRef:
                    name: "{{ label_back_app_id }}-secret"
          restartPolicy: {{ restartPolicy }}